.chip-list {
  margin: auto;
}

.mat-chip-list-wrapper {
  display: flex !important;
  flex-wrap: initial !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgba(2, 89, 255, 0.9)
}

.mat-form-field-flex {
  display: inline-flex;
  align-items: baseline;
  box-sizing: border-box;
  width: 100%;
  background-color: rgba(200, 200, 200, 0.1);
}