@import "../../shared/variables.scss";

* {
  font-size: 1.4vvw;
}

.navbar-container {
  height: $navbar-container-height;
  width: 100%;
  background-color: rgb(30, 30, 130);
  display: flex;
}

.logo {
  height: 100%;
  width: 8%;
  color: whitesmoke;
  margin: 0 1%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.navbuttons {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(30, 30, 130);
  margin: auto 0 ;

  & > .navbutton {
    display: flex;
    align-items: center;
    color: whitesmoke;
    column-gap: 5%;
    cursor: pointer;
    width: 50%;

    & > .icon {
      height: 18px;
    }

    & > .nav-title {
      margin: 1%;
    }
  }
}

.icon {
  height: 18px;
  color: whitesmoke;
}

.login-logout {
  color: whitesmoke;
  border: solid 2px white;
  margin: auto 1% auto auto;
  height: 60%;
  border-radius: 3%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-items: center;
  cursor: pointer;

  & > .login-text {
    width: 60px;
    margin: auto 10px;
  }

  & > .icon {
    margin: auto;
    height: 70%;
  }
}

@media (max-width: 1250px) {
  .navbuttons {
    & > .navbutton {
      margin: auto 5%;
    }
  }
}
