<nav class="navbar-container">
  <div class="logo">
    <img src="" alt="" />
    logo
  </div>
  <div class="navbuttons">
    <a
      class="navbutton"
      *ngFor="let nav of NavButtons"
      routerLink="/{{ nav.toRoute }}"
      routerLinkActive="active"
      title="{{ nav?.feature }}"
    >
      <img src="" alt="{{ nav.feature }}" />
      {{ nav.title }}
    </a>
  </div>
  <button class="login-logout" (click)="login()" *ngIf="!(isLoggedIn | async)">
    <p>login</p>
  </button>
  <button class="login-logout" (click)="logout()" *ngIf="isLoggedIn | async">
    <p>logout</p>
  </button>
</nav>
