@import "../../shared/variables.scss";

* {
    font-size: 1.4vvw;
}

.navbar-container {
  height: $navbar-container-height;
  width: 100vw;
  background-color: rgb(30, 30, 130);
  display: flex;
}

.logo {
    height: 100%;
    width: 8%;
    color: whitesmoke;
    margin: 0 1%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.navbuttons {
  display: flex;
  width: 70%;
  background-color: rgb(30, 30, 130);

  & > .navbutton {
    display: flex;
    height: 60%;
    min-width: 10%;
    max-width: 40%;
    align-items: center;
    color: whitesmoke;
    column-gap: 5%;
    cursor: pointer;
    margin: auto 5%;

    & > .icon {
      height: 40%;
    }

    & > .nav-title {
        min-width: 10vw;
        max-width: 50vw;
        margin: 1%;
    }
  }
}

.icon {
  height: 30%;
  color: whitesmoke;
}

.login-logout {
  color: whitesmoke;
  border: solid 2px white;
  margin: auto 1% auto auto;
  height: 60%;
  width: 9%;
  border-radius: 3%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-items: center;
  cursor: pointer;

  & > .login-text {
    margin: auto;
  }

  & > .icon {
    margin: auto;
    height: 70%;
  }
}


@media (max-width: 1250px) {
  .navbutton {
    min-width: 40vw;
  }
}