.filter-container {
  width: 80%;
  display: flex;
  margin: 0 10%;
  justify-content: space-between;
}

.mat-form-field-flex {
  border: 3px solid grey;
}

.board {
  margin: 1% 7.5%;
  display: grid;
  grid-template-columns: 3fr 2fr 8fr 2fr;
  border-bottom: 2px solid rgb(200, 200, 200);
  padding-bottom: 10px;

  & > .result {
    display: flex;
    text-align: center;
    font-size: 2rem;
  }

  & > .companies {
    border-right: 2px solid gray;
    text-align: center;
  }

  & > .excel {
      color: rgb(55, 123, 187);
  }
}
